# Mapbox token from https://account.mapbox.com/access-tokens/
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
# Notion integration secret from https://www.notion.so/my-integrations
NOTION_ACCESS_TOKEN=
# Notion UUID of the database
NOTION_PLACES_DB_ID=
