# Notion integration secret from https://www.notion.so/my-integrations
NOTION_ACCESS_TOKEN=
# Notion UUID of the databases
NOTION_PAGES_DB_ID=
NOTION_GUIDE_BUSINESS_IDEAS_DB_ID=

# Vercel Blob
BLOB_READ_WRITE_TOKEN=
BLOB_WORKAROUND_BASE_URL="https://<id-here>.public.blob.vercel-storage.com"

# Token for internal API
API_AUTH_TOKEN=
